  <head>
    <title>Angelic Gaming</title>
    <meta name="description" content="A Discord bot, made for a Discord server, and a game server.">
    <link id="favicon" rel="icon" href="https://vignette.wikia.nocookie.net/johnnytest/images/8/88/Indir.jpg/revision/latest/scale-to-width-down/162?cb=20111207122459.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        A Discord Bot
      </h1>
        
    </header>
    <!-- Main Bulk -->
    <main>
      <p class="bold">Oh hi,</p>
      <p>
        A project me and a couple friends are working on, a Discord bot.
      </p>
      <p>
        No specifics on what it does right now, but maybe it'll have a main things it does. All things aside, the bot or webpages are not finished yet. <br /> <br />
        
        
        So, who made you? <br />
        
        The Discord users: <br /> <br />
        
        
        <b><i>papershredder432#0883</i></b> <br />
      </p>
    </main>

    
    
    <main>
      <!-- Discord Web Widget, to support Discord, aka, walyuga's Discord -->
      <h1>
        Contact Us!
      </h1>

      <div class="discord">
        <h3>Bot Support Discord</h3>    
        <iframe src="https://discordapp.com/widget?id=316668615581630464&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
        <a href="https://unturned-servers.net/server/168416/"><img src="https://unturned-servers.net/server/168416/banners/regular-banner-4.png" border="0"></a>
      </div>
    </main>
    
    
    
    <main>
      <p>
        Command list has been moved, sorry!
      </p>
      
      <button type="button"
        onclick="client.guilds.size">
        Click me to display Date and Time.
      </button>
      
      <p id="demo"></p>
      
    </main>
    
    
    
    <footer>
      <!-- Troll Link -->
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        Secret ;)
      </a> <br />

      <!-- Donation Links, to papershredder432, main Dev -->
      <a href="https://bit.ly/2IBLmtt ">
        Donate via Steam Trade
      </a> <br />
      <a href="PayPal.Me/GlobalGamingUnturned">
        Donate via PayPal.Me
      </a> <br />
      <a href="/dashboard.html">Dashboard</a>
    </footer>

    
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>